@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 pb-5">Different ways to consume web api</h1>
    <div class="row">
        <div class="col-3 group-control">
            <a asp-action="StoreList" asp-controller="HttpClientStore" class="btn btn-outline-dark form-control">HttpClient</a>
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
    </div>
</div>
